<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.linenisgreat.alfred.focus</string>
	<key>connections</key>
	<dict>
		<key>29564986-4D50-4F3E-88C3-A5E572B09F05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B9A0593-8AD2-47D3-BE66-F1290428DE51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D790A51A-AEDC-4AF3-9B8F-EB14ED505A89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7E750E5-0898-4704-9665-0BA42B11207B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DD0D130-BAC2-492D-8D71-A6C6F3F2290A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6150C63A-58FB-49C5-B980-CDD59FA01BE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80C2F0E3-06EF-44DF-AEF7-2E393118923A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DCB27A0-4EDE-40DC-8C3D-65EBFFDFA7FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A597C7A4-2273-44FD-BA89-A4FC9036693D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BAAF12C-9013-4AAE-ABEE-0AF67547A854</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B10C42A2-05C8-45CC-B41D-980F9161601A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2C81719-18A0-4AE6-BEBF-17E67B61F77B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BAB84A41-38C7-4BBD-A2D8-7918285F3C9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37E347D2-50DA-4841-A45E-6AD628E971DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B64F3570-1129-41CB-A81B-446366197E22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6150C63A-58FB-49C5-B980-CDD59FA01BE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAB84A41-38C7-4BBD-A2D8-7918285F3C9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C335C24-1FDD-4766-BEE3-553C75083B66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2C81719-18A0-4AE6-BEBF-17E67B61F77B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8C8E889-155F-43DD-B7F7-6633312FB041</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8C8E889-155F-43DD-B7F7-6633312FB041</key>
		<array/>
		<key>C95CF67D-885C-4004-98D0-398C7B8B1B0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E69F742-1AE9-4816-9026-EFEE19CB969B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D60256A2-3200-4394-9FAE-8FF05F53BD15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37E347D2-50DA-4841-A45E-6AD628E971DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sasha F</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Focus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>1</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4DD0D130-BAC2-492D-8D71-A6C6F3F2290A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "System Events"	tell process "NotificationCenter"		set windowCount to count windows		if windowCount is greater than 0 then			set topNote to window 1						set titleText to value of static text of topNote			
			click button (q as number) of topNote		end if	end tellend tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6150C63A-58FB-49C5-B980-CDD59FA01BE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>2</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B64F3570-1129-41CB-A81B-446366197E22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "System Events"	tell process "NotificationCenter"		set windowCount to count windows		if windowCount is greater than 0 then			set topNote to window 1						set titleText to value of static text of topNote			
			click topNote		end if	end tellend tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>0E69F742-1AE9-4816-9026-EFEE19CB969B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>3</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C95CF67D-885C-4004-98D0-398C7B8B1B0D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>21</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A597C7A4-2273-44FD-BA89-A4FC9036693D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "System Events"	tell process "NotificationCenter"		set windowCount to count windows
		repeat with i from windowCount to 1 by -1
			click button 1 of window i
		end repeat	end tellend tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6BAAF12C-9013-4AAE-ABEE-0AF67547A854</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>touch "$alfred_workflow_data/focus_on"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8C8E889-155F-43DD-B7F7-6633312FB041</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C2C81719-18A0-4AE6-BEBF-17E67B61F77B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mkdir -p "$alfred_workflow_data"

if [[ -f "$alfred_workflow_data/focus_on" ]]; then
	echo "focus was on" &gt;&amp;2
	echo -n "false"
else
	echo "focus was off" &gt;&amp;2
	echo -n "true"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B10C42A2-05C8-45CC-B41D-980F9161601A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>rm "$alfred_workflow_data/focus_on"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C335C24-1FDD-4766-BEE3-553C75083B66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>false</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BAB84A41-38C7-4BBD-A2D8-7918285F3C9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D60256A2-3200-4394-9FAE-8FF05F53BD15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -eou pipefail

# From https://heyfocus.com/enabling-do-not-disturb-mode and
# https://apple.stackexchange.com/questions/145487

if [[ $(defaults -currentHost read ~/Library/Preferences/ByHost/com.apple.notificationcenterui doNotDisturb) -eq 0 ]]; then
  defaults -currentHost write ~/Library/Preferences/ByHost/com.apple.notificationcenterui doNotDisturb -boolean true
  defaults -currentHost write ~/Library/Preferences/ByHost/com.apple.notificationcenterui doNotDisturbDate -date "`date -u +\"%Y-%m-%d %H:%M:%S +000\"`"
  killall NotificationCenter
else
  defaults -currentHost write ~/Library/Preferences/ByHost/com.apple.notificationcenterui doNotDisturb -boolean false
  killall NotificationCenter
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>37E347D2-50DA-4841-A45E-6AD628E971DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>6B9A0593-8AD2-47D3-BE66-F1290428DE51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>29564986-4D50-4F3E-88C3-A5E572B09F05</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "iTunes"	pauseend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D790A51A-AEDC-4AF3-9B8F-EB14ED505A89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Radium"	pauseend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7E750E5-0898-4704-9665-0BA42B11207B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>97</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F6</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>80C2F0E3-06EF-44DF-AEF7-2E393118923A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Radium"	playpauseend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8DCB27A0-4EDE-40DC-8C3D-65EBFFDFA7FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0E69F742-1AE9-4816-9026-EFEE19CB969B</key>
		<dict>
			<key>note</key>
			<string>Click Notification</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>1C335C24-1FDD-4766-BEE3-553C75083B66</key>
		<dict>
			<key>note</key>
			<string>delete on state file</string>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>29564986-4D50-4F3E-88C3-A5E572B09F05</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>1215</integer>
		</dict>
		<key>37E347D2-50DA-4841-A45E-6AD628E971DC</key>
		<dict>
			<key>note</key>
			<string>toggle DND</string>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>945</integer>
		</dict>
		<key>4DD0D130-BAC2-492D-8D71-A6C6F3F2290A</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>6150C63A-58FB-49C5-B980-CDD59FA01BE3</key>
		<dict>
			<key>note</key>
			<string>Click Button at Index</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>6B9A0593-8AD2-47D3-BE66-F1290428DE51</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>1135</integer>
		</dict>
		<key>6BAAF12C-9013-4AAE-ABEE-0AF67547A854</key>
		<dict>
			<key>note</key>
			<string>Click All Notifications</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>80C2F0E3-06EF-44DF-AEF7-2E393118923A</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>1605</integer>
		</dict>
		<key>8DCB27A0-4EDE-40DC-8C3D-65EBFFDFA7FE</key>
		<dict>
			<key>note</key>
			<string>Play / Pause Radium</string>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>1605</integer>
		</dict>
		<key>A597C7A4-2273-44FD-BA89-A4FC9036693D</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>B10C42A2-05C8-45CC-B41D-980F9161601A</key>
		<dict>
			<key>note</key>
			<string>check if focus will be turned on</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>B64F3570-1129-41CB-A81B-446366197E22</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>B7E750E5-0898-4704-9665-0BA42B11207B</key>
		<dict>
			<key>note</key>
			<string>Pause Radium</string>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>1445</integer>
		</dict>
		<key>BAB84A41-38C7-4BBD-A2D8-7918285F3C9F</key>
		<dict>
			<key>note</key>
			<string>will turn off</string>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>815</integer>
		</dict>
		<key>C2C81719-18A0-4AE6-BEBF-17E67B61F77B</key>
		<dict>
			<key>note</key>
			<string>will turn on</string>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>675</integer>
		</dict>
		<key>C8C8E889-155F-43DD-B7F7-6633312FB041</key>
		<dict>
			<key>note</key>
			<string>write on state file</string>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>C95CF67D-885C-4004-98D0-398C7B8B1B0D</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>D60256A2-3200-4394-9FAE-8FF05F53BD15</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>945</integer>
		</dict>
		<key>D790A51A-AEDC-4AF3-9B8F-EB14ED505A89</key>
		<dict>
			<key>note</key>
			<string>Pause iTunes</string>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>1275</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
