<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.linenisgreat.code.zit-chrest</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>16A88862-860E-43FA-851A-E9FFE4602F34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5634844-C541-4A4E-8A9C-8899B85344A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE2AAE8E-4E64-477E-998E-4BDD1AB602F2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>(do not open an organize window)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F494598-0D8E-4D58-89DD-A5EA820A73EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5634844-C541-4A4E-8A9C-8899B85344A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE2AAE8E-4E64-477E-998E-4BDD1AB602F2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>(do not open an organize window)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24CED3EB-A381-4767-8EC4-4450A4176F35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8A05E0A-2A67-421F-B845-5D39EC0390AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3136E4E2-9425-4223-B012-B40E24AF254F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAAFC40E-952A-4A0A-892D-D1C7D287A084</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31A9DBDF-3CF8-4905-BE33-1C36F7230C19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24CED3EB-A381-4767-8EC4-4450A4176F35</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>(do not open an organize window)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C8A05E0A-2A67-421F-B845-5D39EC0390AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32DC1DC2-E528-4D96-816A-B5A1205C38FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63F43D6B-76B0-43DF-9980-75817063B421</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63F43D6B-76B0-43DF-9980-75817063B421</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD0751DD-E345-4ACF-A28F-16ECC2CED1A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77A3FB93-2B70-4D3F-A98E-CBCE6DE54B58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A02D373-3216-4FDD-AC1A-56309E91A266</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>(do not open an organize window)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32DC1DC2-E528-4D96-816A-B5A1205C38FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A02D373-3216-4FDD-AC1A-56309E91A266</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32DC1DC2-E528-4D96-816A-B5A1205C38FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B2393FA-40E8-466A-91CC-A95E4AB5A023</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A02D373-3216-4FDD-AC1A-56309E91A266</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>(do not open an organize window)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32DC1DC2-E528-4D96-816A-B5A1205C38FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>956796E2-9F98-482F-B6B5-6C65136D7DC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAAFC40E-952A-4A0A-892D-D1C7D287A084</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3136E4E2-9425-4223-B012-B40E24AF254F</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>(do not open an organize window)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A5662AC-5134-40B2-9570-9FAA0146FAE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAAFC40E-952A-4A0A-892D-D1C7D287A084</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3136E4E2-9425-4223-B012-B40E24AF254F</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>(do not open an organize window)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5634844-C541-4A4E-8A9C-8899B85344A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0846180-A49A-42EA-80DA-E4C603175006</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE2AAE8E-4E64-477E-998E-4BDD1AB602F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5634844-C541-4A4E-8A9C-8899B85344A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8A05E0A-2A67-421F-B845-5D39EC0390AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0846180-A49A-42EA-80DA-E4C603175006</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0846180-A49A-42EA-80DA-E4C603175006</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD0751DD-E345-4ACF-A28F-16ECC2CED1A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAAFC40E-952A-4A0A-892D-D1C7D287A084</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E40AEA40-28EF-4B67-818E-C385987A1A88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E40AEA40-28EF-4B67-818E-C385987A1A88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD0751DD-E345-4ACF-A28F-16ECC2CED1A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9B193D6-4D7F-47B5-8486-47EB6868EB57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8A05E0A-2A67-421F-B845-5D39EC0390AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sasha F</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>chrest-zit</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cz clean</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Browser: clean all bookmarks or tabs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>956796E2-9F98-482F-B6B5-6C65136D7DC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -x

args=(clean -kasten browser "$dry_run")

if [[ "$do_not_organize" != true ]]; then
	args+=(-organize)
fi

args+=($@)

../run.bash zit "${args[@]}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E40AEA40-28EF-4B67-818E-C385987A1A88</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>do_not_organize</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3136E4E2-9425-4223-B012-B40E24AF254F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>[[!browser-tab, !browser-bookmark] {query}].</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DAAFC40E-952A-4A0A-892D-D1C7D287A084</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cz clean</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>../run.bash zit cat-alfred -genre tag -kasten browser [!browser-tab, !browser-bookmark].</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Browser: clean toml-bookmarks by tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9A5662AC-5134-40B2-9570-9FAA0146FAE3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cz open</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Browser: open all bookmarks or tabs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7B2393FA-40E8-466A-91CC-A95E4AB5A023</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -x

args=(checkout -kasten browser "$dry_run")

if [[ "$do_not_organize" != true ]]; then
	args+=(-organize)
fi

args+=($@)

../run.bash zit "${args[@]}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63F43D6B-76B0-43DF-9980-75817063B421</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Zit Results</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CD0751DD-E345-4ACF-A28F-16ECC2CED1A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>do_not_organize</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7A02D373-3216-4FDD-AC1A-56309E91A266</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query} !toml-bookmark</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>32DC1DC2-E528-4D96-816A-B5A1205C38FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cz open</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>set -x
../run.bash zit cat-alfred -genre tag !toml-bookmark</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Browser: open toml-bookmarks by tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>77A3FB93-2B70-4D3F-A98E-CBCE6DE54B58</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cz save</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Browser: save all bookmarks or tabs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F494598-0D8E-4D58-89DD-A5EA820A73EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>[[!browser-bookmark, !browser-tab] {query}].</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A5634844-C541-4A4E-8A9C-8899B85344A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>do_not_organize</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AE2AAE8E-4E64-477E-998E-4BDD1AB602F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cz save</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>../run.bash zit cat-alfred -genre tag -kasten browser [!browser-tab, !browser-bookmark].</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Browser: save bookmarks or tabs by tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>16A88862-860E-43FA-851A-E9FFE4602F34</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -x

args=(checkin -kasten browser "$dry_run")

if [[ "$do_not_organize" != true ]]; then
	args+=(-organize)
fi

args+=($@)

../run.bash zit "${args[@]}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0846180-A49A-42EA-80DA-E4C603175006</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>do_not_organize</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>24CED3EB-A381-4767-8EC4-4450A4176F35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>czh save</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>../run.bash zit cat-alfred -genre tag -kasten browser [!browser-history].</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Browser: save history by tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>31A9DBDF-3CF8-4905-BE33-1C36F7230C19</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>[!browser-history {query}].</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C8A05E0A-2A67-421F-B845-5D39EC0390AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>czh save</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Browser: save all history</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F9B193D6-4D7F-47B5-8486-47EB6868EB57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16A88862-860E-43FA-851A-E9FFE4602F34</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>1F494598-0D8E-4D58-89DD-A5EA820A73EF</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>24CED3EB-A381-4767-8EC4-4450A4176F35</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>do not organize</string>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>975</real>
		</dict>
		<key>3136E4E2-9425-4223-B012-B40E24AF254F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>do not organize</string>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>31A9DBDF-3CF8-4905-BE33-1C36F7230C19</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>1025</real>
		</dict>
		<key>32DC1DC2-E528-4D96-816A-B5A1205C38FC</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>bookmarks or tabs</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>63F43D6B-76B0-43DF-9980-75817063B421</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>checkin</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>77A3FB93-2B70-4D3F-A98E-CBCE6DE54B58</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>7A02D373-3216-4FDD-AC1A-56309E91A266</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>do not organize</string>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>7B2393FA-40E8-466A-91CC-A95E4AB5A023</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>956796E2-9F98-482F-B6B5-6C65136D7DC5</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>9A5662AC-5134-40B2-9570-9FAA0146FAE3</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>A5634844-C541-4A4E-8A9C-8899B85344A7</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>bookmarks or tabs</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>AE2AAE8E-4E64-477E-998E-4BDD1AB602F2</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>do not organize</string>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>C8A05E0A-2A67-421F-B845-5D39EC0390AE</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>history</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>1055</real>
		</dict>
		<key>CD0751DD-E345-4ACF-A28F-16ECC2CED1A0</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>D0846180-A49A-42EA-80DA-E4C603175006</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>checkin</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>DAAFC40E-952A-4A0A-892D-D1C7D287A084</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>bookmarks or tabs</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>E40AEA40-28EF-4B67-818E-C385987A1A88</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>checkin</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>F9B193D6-4D7F-47B5-8486-47EB6868EB57</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>1170</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>ZIT_DIR</key>
		<string>~/zit</string>
		<key>dry_run</key>
		<string>-dry-run</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>code.linenisgreat.com/chrest</string>
</dict>
</plist>
