config/fish/fish_history
config/fish/fish_read_history
config/fish/fishd*
*.local
*.pyc
config/thefuck/__pycache__/
vim/plugged
*.netrwhist
host-*/
.gitsecret/keys/random_seed
!*.secret
my-gitconfig
*.bak
rcm/ssh/sasha_linenisgreat_com.pub
rcm/ssh/my-secret-config
rcm/config/git/config-user
rcm/config/ssh/my-secret-config
rcm/config/ssh/sasha_linenisgreat_com.pub
