[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/nix/store/iiddmvn4gf6fxzw97f0367an0qvp74pk-kmonad-0.4.2/bin/kmonad %E/kmonad/kmonad.kbd
Nice=-20

[Install]
DefaultInstance=config
WantedBy=default.target
